<h1>Data Analysis and Visulisation - Project</h1>
<h3>Title : <span>NIFTY 50 ANALYSIS</span></h3>
<h3>Team</h3>
<h5>Project Leader: Maitray Bhardwaj</h5> 
<h5>Team Members  :</h5>
<ul>
<li>Harshit Kumar More</li>
<li>Amith Chauhan</li>
<li>Arvind Batham</li>
</ul>
<p>Phone Number: 9716273700</p>
<p>Email ID: maitraybhardwaj@gmail.com</p>
<h5>Objective/Aim: <span>To predict trends of stocks in volatile market.</span></h5>
<h5>Technical Details : <span>Python language with libraries numpy,pandas,matplotlib,seaborn.</span></h5>
<h5>Innovativeness and Usefulness : To give a vivid picture of stocks to investor, so they can decide when to invest and how much capital to invest with minimum risk factor.</h5>
<h5>Current Status of Development : Data Cleaning.</h5>
<h5>Market potential and Competitive Advantage : To give a great Technical analysis so investors can clearly understand the sentiments of market.</h5>

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [2]:
tcs = pd.read_csv('./datasets/TCS.csv', index_col = 'Date')

In [3]:
tcs.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2004-08-25,TCS,EQ,850.00,1198.7,1198.7,979.00,985.00,987.95,1008.32,17116372,1.725876e+15,NaN,5206360,0.3042
2004-08-26,TCS,EQ,987.95,992.0,997.0,975.30,976.85,979.00,985.65,5055400,4.982865e+14,NaN,1294899,0.2561
2004-08-27,TCS,EQ,979.00,982.4,982.4,958.55,961.20,962.65,969.94,3830750,3.715586e+14,NaN,976527,0.2549
2004-08-30,TCS,EQ,962.65,969.9,990.0,965.00,986.40,986.75,982.65,3058151,3.005106e+14,NaN,701664,0.2294
2004-08-31,TCS,EQ,986.75,986.5,990.0,976.00,987.80,988.10,982.18,2649332,2.602133e+14,NaN,695234,0.2624

In [4]:
tcs.index = pd.to_datetime(tcs.index, format='%Y-%m-%d')

In [5]:
rel = pd.read_csv('./datasets/RELIANCE.csv', index_col = 'Date')

In [6]:
rel.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2000-01-03,RELIANCE,EQ,233.05,237.50,251.70,237.50,251.70,251.70,249.37,4456424,1.111319e+14,NaN,NaN,NaN
2000-01-04,RELIANCE,EQ,251.70,258.40,271.85,251.30,271.85,271.85,263.52,9487878,2.500222e+14,NaN,NaN,NaN
2000-01-05,RELIANCE,EQ,271.85,256.65,287.90,256.65,286.75,282.50,274.79,26833684,7.373697e+14,NaN,NaN,NaN
2000-01-06,RELIANCE,EQ,282.50,289.00,300.70,289.00,293.50,294.35,295.45,15682286,4.633254e+14,NaN,NaN,NaN
2000-01-07,RELIANCE,EQ,294.35,295.00,317.90,293.00,314.50,314.55,308.91,19870977,6.138388e+14,NaN,NaN,NaN

In [7]:
rel.index = pd.to_datetime(rel.index, format='%Y-%m-%d')

In [8]:
common_dates = pd.merge(tcs, rel, on='Date').index
common_dates

DatetimeIndex(['2004-08-25', '2004-08-26', '2004-08-27', '2004-08-30',
               '2004-08-31', '2004-09-01', '2004-09-02', '2004-09-03',
               '2004-09-06', '2004-09-07',
               ...
               '2021-04-16', '2021-04-19', '2021-04-20', '2021-04-22',
               '2021-04-23', '2021-04-26', '2021-04-27', '2021-04-28',
               '2021-04-29', '2021-04-30'],
              dtype='datetime64[ns]', name='Date', length=4139, freq=None)

In [9]:
tcs = tcs.loc[common_dates, :]
rel = rel.loc[common_dates, :]

In [10]:
tcs.count()

Symbol                4139
Series                4139
Prev Close            4139
Open                  4139
High                  4139
Low                   4139
Last                  4139
Close                 4139
VWAP                  4139
Volume                4139
Turnover              4139
Trades                2456
Deliverable Volume    4139
%Deliverble           4139
dtype: int64

In [11]:
rel.count()

Symbol                4139
Series                4139
Prev Close            4139
Open                  4139
High                  4139
Low                   4139
Last                  4139
Close                 4139
VWAP                  4139
Volume                4139
Turnover              4139
Trades                2456
Deliverable Volume    4134
%Deliverble           4134
dtype: int64

In [12]:
tcs.isna().sum()

Symbol                   0
Series                   0
Prev Close               0
Open                     0
High                     0
Low                      0
Last                     0
Close                    0
VWAP                     0
Volume                   0
Turnover                 0
Trades                1683
Deliverable Volume       0
%Deliverble              0
dtype: int64

In [13]:
rel.isna().sum()

Symbol                   0
Series                   0
Prev Close               0
Open                     0
High                     0
Low                      0
Last                     0
Close                    0
VWAP                     0
Volume                   0
Turnover                 0
Trades                1683
Deliverable Volume       5
%Deliverble              5
dtype: int64

In [14]:
nan_dates = rel[rel['%Deliverble'].isna() | rel['Deliverable Volume'].isna()].index
nan_dates

DatetimeIndex(['2006-01-18', '2006-01-19', '2006-01-20', '2006-01-23',
               '2006-01-24'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [15]:
tcs.drop(nan_dates, inplace=True)
rel.drop(nan_dates, inplace=True)

In [16]:
tcs.count()

Symbol                4134
Series                4134
Prev Close            4134
Open                  4134
High                  4134
Low                   4134
Last                  4134
Close                 4134
VWAP                  4134
Volume                4134
Turnover              4134
Trades                2456
Deliverable Volume    4134
%Deliverble           4134
dtype: int64

In [17]:
rel.count()

Symbol                4134
Series                4134
Prev Close            4134
Open                  4134
High                  4134
Low                   4134
Last                  4134
Close                 4134
VWAP                  4134
Volume                4134
Turnover              4134
Trades                2456
Deliverable Volume    4134
%Deliverble           4134
dtype: int64

In [18]:
rel.isna().sum()

Symbol                   0
Series                   0
Prev Close               0
Open                     0
High                     0
Low                      0
Last                     0
Close                    0
VWAP                     0
Volume                   0
Turnover                 0
Trades                1678
Deliverable Volume       0
%Deliverble              0
dtype: int64

In [19]:
tcs.isna().sum()

Symbol                   0
Series                   0
Prev Close               0
Open                     0
High                     0
Low                      0
Last                     0
Close                    0
VWAP                     0
Volume                   0
Turnover                 0
Trades                1678
Deliverable Volume       0
%Deliverble              0
dtype: int64

In [20]:
tcs_missing_trades = tcs[tcs['Trades'].isna()].index
rel_missing_trades = rel[tcs['Trades'].isna()].index

In [21]:
(tcs_missing_trades == rel_missing_trades).all()

True

In [22]:
tcs.drop(tcs_missing_trades, inplace=True)
rel.drop(rel_missing_trades, inplace=True)

In [23]:
tcs.count()

Symbol                2456
Series                2456
Prev Close            2456
Open                  2456
High                  2456
Low                   2456
Last                  2456
Close                 2456
VWAP                  2456
Volume                2456
Turnover              2456
Trades                2456
Deliverable Volume    2456
%Deliverble           2456
dtype: int64

In [24]:
rel.count()

Symbol                2456
Series                2456
Prev Close            2456
Open                  2456
High                  2456
Low                   2456
Last                  2456
Close                 2456
VWAP                  2456
Volume                2456
Turnover              2456
Trades                2456
Deliverable Volume    2456
%Deliverble           2456
dtype: int64